.wallpaper{
  background-image: url("../assets/wallpaper.jpeg");
  background-size: cover;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  opacity: 0.5;
}
.chat-app {
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  height: 550px;
  overflow-y: scroll;
  width: 50%;
  transform: translate(50%, 5%);
}

.chat-icon {
  bottom: 50px;
  height: 100px;
  line-height: 49px;
  position: fixed;
  right: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}
